@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --secondary-color: #0d0d0d;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #626263; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a39e9e; 
}
